
:root {
    --background: rgba(163, 188, 158);
    --headerfontcolor: rgb(42, 41, 42);
    --fontcolor: rgb(195, 211, 86);
    font-size: 16px;
    background-color: rgb(240, 228, 151);
  }
  
*, *::before, *::after {
    box-sizing: border-box;
  }
  
body {
      padding: 0;
      margin: 0;
      font-family: 'PT Sans', sans-serif;
      font-weight: 400;
  }



/* navigation bar styles */

#navbar_header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index:999;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}



.logo {
    font-family: 'Palette Mosaic', cursive;
    font-family: 'Roboto', sans-serif;
}

nav {
    position: absolute;
    text-align: right;
    top: 100%;
    right: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-right: 1em;
}

nav a {
    color: var(--headerfontcolor);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

#navbar_header a {
    text-decoration: none;
    color: var(--headerfontcolor);
}

#signup_button {
    background-color: var(--headerfontcolor);
    color: white;
    font-weight: bolder;
    padding: 5px;
}

nav a:hover {
    color: #000;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

/* nav bar toggle */
.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.highlight {
    border-bottom: 4px solid rgb(132, 0, 255);
  }

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        
    }
    .logo {
        margin-left: 1em;
    }
    nav {
        all:unset;
        display:flex;
        margin-right: 3em;
        align-items: center;
    }

    nav ul {
        display:flex;
        align-items: center;
        
    }
    nav li {
        margin-left: 15px;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display:block;
        height: 3px;
        background: darkgray;
        position: absolute;
        top: 1.2em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;

    }

    nav a:hover::before {
        transform: scale(1,1);
    }
}

/*===== landing page =====*/
#introduction_background {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(231, 236, 200), rgb(10, 73, 10));
    z-index: 999;
}

#question_box {
    width: 50%;
    margin: 10em auto;
    text-align: center;
}

#ready_to_play {
    font-size: 2rem;
    color: brown;
    font-weight: bolder;
}

#play_button {
    font-size: 4rem;
    background-color: transparent;
    transition: 1s;
    cursor: pointer;
    animation: wiggle_button 2s alternate-reverse infinite;
}

@keyframes wiggle_button {
    0% {
        transform: rotateZ(-2deg);
    }
    4% {
        transform: rotateZ(2deg);
    }
    8% {
        transform: rotateZ(-2deg);
    }
    12% {
        transform: rotateZ(2deg);
    }
    16% {
        transform: rotateZ(-2deg);
    } 
}

.after_clicked {
    opacity: 0;
    visibility: hidden;
    /*transform: scale(0);
    background-color: transparent;
    box-shadow: 0px 0px 200px 200px;*/
    transition: all 2s linear;
    
}

/*===== Home Page Animation =====*/

.animation_container {
    padding-top: 15em;
    width:60%;
    margin: 0px auto;
}

.motion_box {
    width: 100%;
    min-width: 480px;
    max-height: 500px;
    padding-top: 5%;
}

#character_1, #character_2, #character_3 {
    display: inline-block;
    width: 15%;
    height: 100%;
    vertical-align: baseline;
}

.character_images {
    width: 100%;
}

#ball_range {
    display: inline-block;
    width: 65%;
    height: 100%;
    vertical-align: baseline;  
}

#character_3 {
    position: absolute;
    margin-left: -25em;
    margin-top: 3.5em;
    z-index: 0;
}
#ball {
    width: 10%;
    height:0;
    padding-bottom: 10%;
    border-radius: 50%;
    background-color: rgb(224, 182, 41);
    box-shadow: inset rgb(143, 75, 20) -0.5em -0.5em 1em 0.5em;
    transition: 1s;
    animation: left-to-right 1s ease-in alternate-reverse infinite;
    z-index: 999;

}

/*
#ball_range:hover #ball {
    animation: left-to-right 1.5s ease-in alternate-reverse infinite;
}*/

@keyframes left-to-right {
    0% {
        transform: translateX(0%) translateY(-25px);
    }
    5% {
        transform: translateX(45%) translateY(-40px);
    }
    10% {
        transform: translateX(90%) translateY(-45px);
    }
    15% {
        transform: translateX(135%) translateY(-50px);
    }
    20% {
        transform: translateX(180%) translateY(-55px);
    }
    25% {
        transform: translateX(225%) translateY(-60px);
    }
    30% {
        transform: translateX(270%) translateY(-65px);
    }
    35% {
        transform: translateX(315%) translateY(-70px);
    }
    40% {
        transform: translateX(360%) translateY(-75px);
    }
    45% {
        transform: translateX(405%) translateY(-83px);
    }
    50% {
        transform: translateX(450%) translateY(-85px);
    }
    55% {
        transform: translateX(495%) translateY(-83px);
    }
    60% {
        transform: translateX(540%) translateY(-75px);
    }
    65% {
        transform: translateX(585%) translateY(-70px);
    }
    70% {
        transform: translateX(630%) translateY(-65px);
    }
    75% {
        transform: translateX(675%) translateY(-60px);
    }
    80% {
        transform: translateX(720%) translateY(-55px);
    }
    85% {
        transform: translateX(765%) translateY(-50px);
    }
    90% {
        transform: translateX(810%) translateY(-45px);
    }
    95% {
        transform: translateX(855%) translateY(-40px);
    }
    100% {
        transform: translateX(900%) translateY(-25px);
    }
}

.character_animation1 {
    animation: kickball_character1 2s ease-in infinite;
}

@keyframes kickball_character1 {
    0% {
        transform: translateY(0) rotateZ(0);
    }

    45% {
        transform: translateY(0) rotateZ(0);
    }
    49% {
        transform: translateY(-1em) rotateZ(-5deg);
    }

    53% {
        transform: translateY(0) rotateZ(0);
    }

    100% {
        transform: translateY(0) rotateZ(0);
    }
}

.character_animation2 {
    animation: kickball_character2 2s ease-in infinite;
}

@keyframes kickball_character2 {
   
    0% {
        transform: translateY(-1em) rotateZ(5deg);
    }

    8% {
        transform: translateY(0) rotateZ(0);
    }

    100% {
        transform: translateY(0) rotateZ(0);
    }
}

#grass {
    background-image: linear-gradient(rgb(159, 223, 107), rgb(53, 100, 0));
    height: 50px;
    width: 100%;
    
}


/*===== Hero =====*/
#hero_container {
    padding: 20em 2em;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

#hero_box {
    display: block;
    justify-content: center;
    align-items: center;
    
    text-align: center;
}

#quotation {
    font-size: 5rem;
    font-weight: bolder;
}

#author {
    text-align: right;
    margin-top: 2em;
    font-size: 3rem;
}

/*===== About =====*/

#about_container {
    margin: 8em auto;
    padding: 2em;
}

#about_box {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    padding: 3em;
    flex-wrap: wrap;
}

#about_pic {
    width: 100%;
    
}

#about_section h1 {
    font-size: 5rem;
    font-weight: bolder;
    text-align: center;
}

#about_section h2 {
    font-size: 2rem;
    font-weight: bolder;
}

#about_section p {
    font-size: 1.3rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0.3em;
}
#about_section button {
    font-size: 1.3rem;
    font-weight: bolder;
    display:block;
    margin: 0 auto;
}

/*===== Team =====*/

#team_member_container {
    width: 100%;
    margin: 5em auto;
    padding:2em;
}

#team_member_container h1{
    margin:0 0;
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;
}
#teachingteam_box {
    margin-bottom: 2em;
    
    font-size: 1.5rem;
    
}

.teammember_profiles {
    background-color: var(--fontcolor);
    padding: 0 2em;
    margin: 1.5em auto;
    text-align: left;
    overflow: hidden;
    max-width: 900px;
    border-radius: 1em;
    border: 1px gray;
    box-shadow: 0 0 1em gray;
}



.team_member_name {
    text-align: center;
}

.teacher_photos {
    height: 10em;
    margin: 0 1em 1em 0;
    float: left;
   
}
/*===== Courses =====*/

#courses_container {
    width: 100%;
    margin: 5em auto;
    
}

#courses_container h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;
}


#course_columns {
    margin: 1em auto;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    
}

.course_box {
    max-width: 576px;
    margin: 0 1em 2em 1em;
    padding: 1em;
    font-size: 1.5rem;
    background-color: var(--fontcolor);
    border-radius: 1em;
    border: 1px gray;
    box-shadow: 0 0 1em gray;
}

/*===== Sign Up =====*/


#signup_container {
    max-width: 70%;
    padding-top: 5em;
    margin: 0 auto;
}

#form {
    display: flex;
    flex-wrap: wrap;
}

#signup_container h1 {
    text-align: center;
    font-size: 4vw;
    font-weight: bolder;
    margin-top: 2em;   
}

#signup_container dt {
    font-weight: bold;
}

.class_level_box {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.class_levels {
    margin: 2em 2em 1em;
}


.form_control {
    width: 33%;
    min-width: 200px;
    border: 1px solid;
    display:flex;
    flex-direction: column;
}

.form_control .error-message {
    display:none;
}

#submit {
    width: 70%;
    margin: 2em auto;
    display: flex;
    justify-content: center;
}