/*===GLOBAL===*/
:root {
    --background: rgba(166, 204, 142);
    --headerfontcolor: #26272A;
    --fontcolor: rgb(195, 211, 86);
    font-size: 16px;
    background-color: #E9EEF1;
  }
  
*, *::before, *::after {
    box-sizing: border-box;
  }
  
body {
      padding: 0;
      margin: 0;
      font-family: 'PT Sans', sans-serif;
      font-weight: 400;
  }
/*
.background_img {
    background-image: url("IMG_4801.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size:auto;
}*/


/*===NAV BAR===*/
#navbar_header {
    background-color: #E9EEF1;
    text-align: center;
    position: fixed;
    z-index:999;
    width: 100%;
}

.logo {
    font-family: 'Palette Mosaic', cursive;
    font-family: 'Roboto', sans-serif;
}

#menu_nav  {
    position: absolute;
    text-align: right;
    top: 100%;
    right: 0;
    background: #e9eef1;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

#menu_nav  ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu_nav  li {
    margin-bottom: 1em;
    margin-right: 1em;
}

#menu_nav  a {
    color: var(--headerfontcolor);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

#navbar_header a {
    text-decoration: none;
    color: var(--headerfontcolor);
}

#signup_button {
    border: 2px solid;
    color: white;
    font-weight: bolder;
    padding: 5px;
}

#menu_nav  a:hover {
    color: #000;
}

.nav-toggle:checked ~ #menu_nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ #menu_nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

/*===nav bar toggle===*/
.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--headerfontcolor);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

#nav-btn:hover {
    cursor: pointer;
}
@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        
    }
    .logo {
        margin-left: 1em;
    }
    #menu_nav {
        all:unset;
        display:flex;
        margin-right: 3em;
        align-items: center;
    }

    #menu_nav ul {
        display:flex;
        align-items: center;
        
    }
    #menu_nav li {
        margin-left: 15px;
        margin-bottom: 0;
    }

    #menu_nav a {
        opacity: 1;
        position: relative;
    }

    #menu_nav a::before {
        content: '';
        display:block;
        height: 3px;
        background: darkgray;
        position: absolute;
        top: 1.2em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }

    #menu_nav a:hover::before {
        transform: scale(1,1);
    }
}


/*===== Hero =====*/

#hero_container {
    width:97%;
    padding-top: 5em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero_box {
    padding: 8em;
    height: 1000px;
    background-image: url("IMG_4801.jpg");
    background-position: center;
    background-size:cover;
}

#quotation {
    font-size: 5rem;
    font-weight: bolder;
    color:white;
    text-shadow: 2px 2px 15px #26272a;
}

#author {
    text-align: right;
   
    font-size: 3rem;
}

#hero_btn_container {
    margin-top: 1em;
}
#hero_container a {
    text-decoration: none;
    border: 2px solid;
    color: white;
    padding:1rem;
    font-weight: bold;
    
}
/*===== About =====*/

#about_container {
    margin: -6em auto;
    padding: 2em;
    background-color: var(--background);
    width: 90%;
    max-width: 70%;
    position: absolute;
    right: 0;
    left: 0;
    
}

#about_box {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    padding: 3em;
    flex-wrap: wrap;
}

#about_pic {
    width: 550px;
    
}


#about_section h2 {
    font-size: 2rem;
    text-align: center;
}

#about_section p {
    font-size: 1rem;
    
    text-align: center;
    margin-bottom: 0.3em;
}
#about_section button {
    font-size: 1.3rem;
    font-weight: bolder;
    display:block;
    margin: 0 auto;
}

/*===== Team =====*/

#team_member_container {
    width: 100%;
    
    padding:10em;
}

#team_member_container h1{
    margin:0 0;
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;
}
#teachingteam_box {
    margin-bottom: 2em;
    
    font-size: 1.5rem;
    
}

.teammember_profiles {
    background-color: var(--fontcolor);
    padding: 0 2em;
    margin: 1.5em auto;
    text-align: left;
    overflow: hidden;
    max-width: 900px;
    border-radius: 1em;
    border: 1px gray;
    box-shadow: 0 0 1em gray;
}



.team_member_name {
    text-align: center;
}

.teacher_photos {
    height: 10em;
    margin: 0 1em 1em 0;
    float: left;
   
}
/*===== Courses =====*/

#courses_container {
    width: 100%;
    padding-top: 10em;
    
}

#courses_container h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;
}


#course_columns {
    margin: 1em auto;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    
}

.course_box {
    max-width: 576px;
    margin: 0 1em 2em 1em;
    padding: 1em;
    font-size: 1.5rem;
    background-color: var(--fontcolor);
    border-radius: 1em;
    border: 1px gray;
    box-shadow: 0 0 1em gray;
}

/*===== Sign Up =====*/


#signup_container {
    max-width: 90%;
    padding-top: 5em;
    margin: 0 auto;
}


#signup_container h1 {
    text-align: center;
    font-size: 4vw;
    font-weight: bolder;
    margin-top: 2em;   
}

#signup_container dt {
    font-weight: bold;
}

.class_level_box {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.class_levels {
    margin: 2em 2em 1em;
}

#form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form_control {
    width:30%;
    padding:1em;
    margin-top: 1em;
    min-width: 550px;
    border: 1px solid;
    display:flex;
    flex-direction: column;
}


.fillout-input {
    font-size: 1.2rem;
    width: 100%;
    margin: 0 0 1em 0;
    background-color: transparent;
    border-style: none;
    border-bottom: 1px solid;
}

#fullname, #student_fullname {
    display: flex;
    
}

#firstname, #student_firstname {
    width: 50%;
    margin: 1em 0.5em 3em 0;
}

#lastname, #student_lastname {
    width: 50%;
    margin: 1em 0 3em 0.5em;
}

#city {
    width: 45%;
    margin: 0em 0.5em 3em 0em;
}

#state {
    width: 25%;
    margin: 0em 0.5em 3em 0.5em;
}

#zip {
    width: 20%;
    margin: 0em 0em 3em 0.5em;
}

.course_checkbox, .gender_radio_btn {
    font-size: 1.2rem;
    width: 100%;
    margin: 0 0 1em 0;
    
}

.form_control .error-message {
    display:none;
}

#submit {
    width: 70%;
    margin: 2em auto;
    display: flex;
    justify-content: center;
}

#primary_contact {
    display: flex;
    justify-content: center;
    align-items: left;
}

/*=== FOOTER ===*/

#avocado_coding_footer {
    width:100%;
    padding-top: 600px;
    
}

#footer_nav  ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#footer_nav  li {
    margin-bottom: 1em;
    margin-right: 1em;
    text-align: center;
}

#footer_nav a {
    text-decoration: none;
    
}