/*===GLOBAL===*/
:root {
    --background: rgb(164, 179, 197);
    --headerfontcolor: #26272A;
    --fontcolor: rgb(195, 211, 86);
    font-size: 16px;
    background-color: #E9EEF1;
  }
  
*, *::before, *::after {
    box-sizing: border-box;
  }
  
body {
      padding: 0;
      margin: 0;
      font-family: 'PT Sans', sans-serif;
      font-weight: 400;
  }
/*
.background_img {
    background-image: url("IMG_4801.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size:auto;
}*/


/*===NAV BAR===*/
#navbar_header {
    background-color: white;
    text-align: center;
    position: fixed;
    z-index:999;
    width: 100%;
}

.logo {
    font-family: 'Palette Mosaic', cursive;
    font-family: 'Roboto', sans-serif;
}

#menu_nav  {
    position: absolute;
    text-align: right;
    top: 100%;
    right: 0;
    background: #e9eef1;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

#menu_nav  ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu_nav  li {
    margin-bottom: 1em;
    margin-right: 1em;
}

#menu_nav  a {
    color: var(--headerfontcolor);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

#navbar_header a {
    text-decoration: none;
    color: var(--headerfontcolor);
}

#signup_button {
    border: 2px solid;
    color: white;
    font-weight: bolder;
    padding: 5px;
}

#menu_nav  a:hover {
    color: #000;
}

.nav-toggle:checked ~ #menu_nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ #menu_nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

#signup_button {
    white-space: nowrap;
    background-color: white;
}
/*===nav bar toggle===*/
.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--headerfontcolor);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

#nav-btn:hover {
    cursor: pointer;
}
@media screen and (min-width: 800px) {

    #navbar_header {
        background-color: #E9EEF1;
    }
    .nav-toggle-label {
        display: none;
    }

    #navbar_header {
        display: flex;
        justify-content: space-between;
        
    }
    .logo {
        margin-left: 1em;
    }
    #menu_nav {
        all:unset;
        display:flex;
        margin-right: 3em;
        align-items: center;
    }

    #menu_nav ul {
        display:flex;
        align-items: center;
        
    }
    #menu_nav li {
        margin-left: 15px;
        margin-bottom: 0;
    }

    #menu_nav a {
        opacity: 1;
        position: relative;
    }

    #menu_nav a::before {
        content: '';
        display:block;
        height: 3px;
        background: darkgray;
        position: absolute;
        top: 1.2em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }

    #menu_nav a:hover::before {
        transform: scale(1,1);
    }
}

/*=== FOOTER ===*/

#avocado_coding_footer {
    width:100%;
    padding-top: 50px;
    background-color: white;
}

#footer_nav  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#footer_nav  li {
    margin-bottom: 1em;
    margin-right: 1em;
    text-align: center;
}

#footer_nav a {
    text-decoration: none;
    color: var(--headerfontcolor);
    text-transform: uppercase; 
}

/*===== About_Hero =====*/
#index_container {
    height: 1800px;
}

#hero_container {
    padding: 0 4em;
    max-width: 90%;
    height: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    background-image: url("IMG_4801.jpg");
    background-position: center;
    background-size:cover;
    
}


#quotation {
    margin-top:0;
    font-size: 5rem;
    font-weight: bolder;
    color:white;
    text-shadow: 2px 2px 15px #26272a;
}

#author {
    text-align: right;
    font-size: 3rem;
    color:white;
    text-shadow: 2px 2px 15px #26272a;
}

#hero_btn_container {
    margin-top: 2em;
}

.hero_btn {
    text-decoration: none;
    border: 2px solid;
    color: white;
    padding:1rem;
    font-weight: bold;
    
}

@media screen and (min-width: 800px) {
    #hero_container {
        padding: 2em;
        max-width: 75%;
        height: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position:relative;
        background-image: url("IMG_4801.jpg");
        background-position: center;
        background-size:cover;
    }

    #index_hero_box {
        padding: 10em;
        height: 1000px;
        background-image: url("IMG_4801.jpg");
        background-position: center;
        background-size:cover;
    }
    
    .hero_btn {
        text-decoration: none;
        border: 2px solid;
        color: white;
        padding:1rem;
        margin-right: 1em;
        font-weight: bold;
        box-shadow: 1px 1px 10px #7d8086;
        background-color: var(--background);
    }
}

/*===== About =====*/
#about_container {
    background-color: var(--background);
    max-width: 70%;
    position: absolute;
    top: 950px;
    left: 0;
    right: 0;
    margin: auto;  
}

#about_box {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    padding: 3em;
    flex-wrap: wrap;
}

#about_pic {
    width: 550px;
}

#about_section h2 {
    font-size: 2rem;
    text-align: center;
}

#about_section p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.3em;
}
#about_section button {
    font-size: 1.3rem;
    font-weight: bolder;
    display:block;
    margin: 0 auto;
}

/*===== Team =====*/
#team_hero_container {
    width:100%;
    padding: 5em 1em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#team_hero_box {
    height: 500px;
    width:100%;
    padding: 5em;
    background-image: url("IMG_4798.jpg");
    background-position: center;
    background-size:cover; 
}

#team_hero_header {
    margin-top:0;
    font-size: 5rem;
    font-weight: bolder;
    color:white;
    text-shadow: 2px 2px 15px #26272a;
    text-align: center;
}

#team_member_container {
    width: 100%;
    
}

#team_member_container h1{
    margin:0 0;
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;
}

#teachingteam_box {
    margin-bottom: 2em;
    font-size: 1.5rem;
    display:flex;
    flex-wrap: wrap;
    
}

.teammember_profiles {
    background-color: var(--background);
    padding: 0 2em;
    margin: 1em auto;
    text-align: left;
    overflow: hidden;
    width: 550px;
    border: 1px gray;
    box-shadow: 0 0 5px gray;
}



.team_member_name {
    text-align: center;
}

.teacher_photos {
    height: 10em;
    margin: 0 1em 1em 0;
    float: left;
   
}
/*===== Courses =====*/

#courses_container {
    width: 100%;
    padding-top: 10em;
    
}

#courses_container h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;
}


#course_columns {
    margin: 1em auto;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.course_box {
    max-width: 576px;
    margin: 0 1em 2em 1em;
    padding: 1em;
    font-size: 1.5rem;
    background-color: var(--background);
    
    border: 1px gray;
    box-shadow: 0 0 5px gray;
}

/*===Projects===*/
/* Scrollbar width */
#project_section ::-webkit-scrollbar {
    height: 10px;
}

/*Scrollbar Track */
#project_section ::-webkit-scrollbar-track {
background-color: transparent;
border-radius: 10px;
}

/*Scrollbar Handle */
#project_section ::-webkit-scrollbar-thumb {
background: var(--fontcolor); 
border-radius: 10px;
}

/*Scrollbar Handle on hover */
#project_section ::-webkit-scrollbar-thumb:hover {
background: gray; 
}

#project_section {
    padding-top: 10em;
}

.project_videos {
    height: 140px;
    width: 250px;
    
}

.project_container {
    width: 90%;
    border: 1px solid;
    margin: auto;
    margin-bottom: 2em;
    border-radius: 15px;
    overflow: hidden;
}

.project_type{ 
    margin: 0 auto 0 auto;
    padding-left: 1em;
    border-bottom: 1px solid;
    font-size: 2em;
    font-weight: bold;
    background-color: var(--background);
}

.project_row { 
    margin: auto;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    background-color: white;
}

.individual_project {
    /* box-shadow: 0 0 10px gray inset; */
    padding:1em;
    scroll-snap-align: start;
}

.project_title {
    margin:0;
    padding:0;
    font-size: 1.15em;
    font-weight: bold;
}

.project_description {
    margin:0;
    padding:0;
}

/*===Sign Up Form===*/
#signup_container {
    max-width: 100%;
    padding: 5em 2em 2em 2em;
    margin: 0 auto;
}

#form_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#signup_container h1 {
    text-align: center;
    font-size: 6vw;
    font-weight: bolder;
    margin-top: 2em;   
}

.form_control .error-message {
    display:none;
}

.form_control {
    width:550px;
    font-size: 1.2rem;
    padding:1em;
    margin: 1em auto;
    border: 1px solid;
    display:flex;
    flex-direction: column;
}

.fillout_input {
    font-size: 1.2rem;
    width: 100%;
    margin: 0 0 1em 0;
    background-color: transparent;
    border-style: none;
    border-bottom: 1px solid;
    outline: none;
}

#primary_fullname, #student_fullname {
    display: flex;
} 

#firstname, #student_firstname {
  
    margin: 0.5em 0.5em 1.5em 0;
}

#lastname, #student_lastname {

    margin: 0.5em 0 1.5em 0.5em;
}

#city, #state, #zip {
    width: 30%;
    margin-bottom: 1.5em;
}

.course_checkbox, .gender_radio_btn, .agreement_radio_btn, .find_us {
    font-size: 1.2rem;
    width: 100%;
    margin: 0 0 0.5em 0;
}

#find_us {
    display:flex;
    flex-direction: column;
}

.agreement_radio_btn, #find_us_other {
    display: flex;
}

#find_us_other_container{
    display:flex;
}

#find_us_other_input{
    margin-left: 1em;
    font-size: 1.2rem;
    width: 100%;
    margin: 0 0 1em 0;
    background-color: transparent;
    border-style: none;
    border-bottom: 1px solid;
    outline: none;
}

#submit {
    font-size: 1.2rem;
    font-weight: bold;
    width: 70%;
    margin: 2em auto;
    display: flex;
    justify-content: center;
} 





/* error/success handling */
.form-control.success input{
    border-color: green;
}

.form-control.error input {
    border-color: red;
}


.form-control.error .error-message {
    color: red;
    display:block;
}

